@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Syne+Tactile&display=swap');
/* source base */
:root{
    /* --main-color: #d3ad7f; */
    --main-color: #009b77;
    --black :#13131a;
    --background: #ffffff;
    --border : #e4e4e4;
    --rainbow-color : #5c83b4;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior:  smooth;

}
html ::-webkit-scrollbar{
    width: 0.8rem;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 3rem;
}

/* //btn */
.btn{
    border-radius: 20px;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 4rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.1rem;
}
/* web header */
body{
    background: var(--background);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 4rem;
    font-size: 4rem;
}
.heading span{
    text-transform: uppercase;
    color: var(--main-color);
}

/* asdasdas */
.header{
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo_web .logo_mains{
    height: 6rem;
    width: 6rem;
    
}
.logo_main{
    color: var(--main-color);
    font-size: 2rem;
}
.logo_main:hover{
    color: var(--rainbow-color);
}

.header .header_navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--black);
}
.header .header_navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}
.header .header_icons{
    display: flex;
}
.header .header_icons div{
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: 1.5rem;
}
.header .header_icons div:hover{
    color: var(--main-color);
}
#menu_btn{
    display: none;
}
/* sign in sigup */
.header .header_icons div a{
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}
.header .header_icons div a:hover{
    color: var(--main-color);
}
/* search form tim kiem */
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form #search-box{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
     padding:  1rem; 
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 2rem;
    color: var(--black);

}
.header .search-form label:hover{
    color: var(--main-color);
}
/* //cart */
.header .cart_items_container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9rem);
    width: 35rem;
    background: white;
    padding: 0 1.5rem;
}
.header .cart_items_container.active{
    right: 0;
}
.header .cart_items_container .cart_item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart_items_container .cart_item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart_items_container .cart_item .fa-times:hover{
    color: var(--main-color);
}
.header .cart_items_container .cart_item img{
    font-size: 10rem;
    width: 10rem;
    height: 10rem;
}
.header .cart_items_container .cart_item .content h3{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.header .cart_items_container .cart_item .content div{
    font-size: 1.5rem;
    color: var(--main-color);
}
.header .cart_items_container .btn{
    width: 100%;
    text-align: center;
}
/* home section  */
/* ----------------------- */
/* ---------- */
.home{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(../img/sports-activity-recognition.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 100%;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
.home .content p{
    font-size: 2rem;
    
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}
/* about section  */
/* ---------- */

.about .row{
    display: flex;
    align-items: center;
    background: var(--background);

    border-radius: 1rem;
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
   width: 100%;

}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: var(--black);
}
.about .row .content p{ 
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;

}

/* menu section  */
/* ---------- */

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;


}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: 2px solid var(--border);
  
    border-radius: 1rem;
    background: var(--background);
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color: var(--black);
font-size: 2rem;
padding: 1rem 0;
}
.menu .box-container .box .follow{
    color: var(--black);
font-size: 2.5rem;
padding: 0.5rem 0;
}
.menu .box-container .box .follow span{

font-size: 1.5rem;
text-decoration: none;
}
.menu .box-container .box:hover{
    background: var(--rainbow-color);
}
/* products------------ */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}
.products .box-container .box{
    text-align: center;
   border-radius: 1rem;
    padding: 2rem;
    background: var(--black);
}
.products .box-container .box .image {
    padding:2.5rem 0 ;
}
.products .box-container .box .image img{
    height: 15rem;
}
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    /* border: var(--border); */
    color: white;
    margin: 0.3rem;

}
.products .box-container .box .icons a:hover{
    background: var(--rainbow-color);
}
.products .box-container .box .content h3{
    color: white;
    font-size: 2.5rem;
   
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content .follow{
    color: white;
    font-size: 2.5rem;

}
.products .box-container .box .content .follow span{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.5rem;
}

/* review css  */
/* ----------- */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}
.review .box-container .box{
    border: 2px solid var(--border);
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    padding: 2rem 0;
}
.review .box-container .box .quote{
    color: var(--rainbow-color);
    font-size: 1.5rem;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);

}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

/* contact  */
.contact .row{
    display: flex;

    background: var(--background);
    flex-wrap: wrap;
    gap:  1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);

    
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--background);
    border-radius: 1rem;
    border: 1px solid var(--border);
   
}
.contact .row form .inputBox span{
    color: var(--black);
    font-size: 2rem;
    padding-left: 2rem;

}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
    background: none;
}


/* blogs -------------------- */
/* --------------- */
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.blogs .box-container .box{
    border: var(--border);
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 2rem;

}
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
}
.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}
.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
  font-size: 2rem;
}
.blogs .box-container .box .content p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    padding: 1rem 0;
}

/* footer  */
/* --------- */
/* ---------------------------- */
.footer{
    background: var(--background);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);

    margin: 0.3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap :1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: var(--black);

    font-size: 1.5rem
}
.footer .links a:hover{
    background: var(--main-color);
}
.footer .credit{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--main-color);
}






















/* media query */
@media (max-width: 991px){
    html{
        font-size: 55%;
      
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }
}
@media (max-width: 768px){
  #menu_btn{
      display: inline-block;
  }
  .header .header_navbar{
      position: absolute;
      top: 100%; right: -100%;
      background: rgb(255, 255, 255);
        width: 30rem;
      height: 100vh;
  }
  .header .header_navbar.active{
      right: 0;
  }
  .header .search-form{
    width: 90%;
    right: 2rem;

}
  .header .header_navbar a{
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
      color: var(--black);

  }
  .home{
      background-position:left ;
    justify-content: center;
    text-align: center;
  }
  .home .content h3{
      font-size: 4.5rem;
  }
  .home .content p{
    font-size: 1.5rem;
  }
  .products .box-container .box .image img{
    height: 10rem;
}


}
@media (max-width: 450px){
    html{
        font-size: 50%;
      
    }
   
}