<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Action Regconition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- header start -->
    <header class="header">
    
        <a href="#" class="logo_web">
            <div class="logo_mains">
                <div class="logo_main">HAR SERVICES</div>
            </div>
            
        </a>
        <nav class="header_navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#menu">Menu</a>
            <a href="#products">Products</a>
            <a href="#review">Review</a>
            <a href="#contact">Contact</a>
        </nav>
        <div class="header_icons">
            <div id="search_btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="carts_btn">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
            <div id="sign_btn" >
                <a  href="/SuperPetWebsite/signin_signup/sign.html">
                    <i class="fa-solid fa-user"></i>
                </a>
                
            </div>
            <div id="menu_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <!-- search form ------------  -->
    
        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here ...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    
        <!-- cart item container begin -->
        <div class="cart_items_container">
            <div class="cart_item">
                <span class="fas fa-times"></span>
                <img src="../image/Cat_November_2010-1a.jpg" alt="">
                <div class="content">
                    <h3>Pet follow 01</h3>
                    <div>Cat</div>
                </div>
            </div>
    
            <div class="cart_item">
                <span class="fas fa-times"></span>
                <img src="../image/doggy-date-night.jpg" alt="">
                <div class="content">
                    <h3>Pet follow 02</h3>
                    <div>Dog</div>
                </div>
            </div>
            <a href="#" class="btn">Check it!</a>
    
        </div>
    
    </header>
        <!-- header section ends -->
        <!-- ------------- -->
    
        <!-- home section start  -->
    
        <section class="home" id="home">
            <div class="content">
                <h3>Wish you have a good day</h3>
                <p>This Web normaly being use for Human action regconition tasks</p>
                <a href="" class="btn">Let's start now</a>
            </div>
        </section>
        <!-- home sections ends  -->
    
        <!-- about section start  -->
    
        <section class="about" id="about">
            <h1 class="heading"><span>about</span> us </h1>
            <div class="row">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/Human-Activity-Prediction-using-ML-1024x522.png') }}" alt="">
                </div>
                <div class="content">
                    <h3>What make our Services useful?</h3>
                    <p>One selected the service they thought was useful,
                     and the other selected the one they thought most participants would think was the useful</p>
                     <a href="#" class="btn">learn more</a>
                </div>
            </div>
        </section>
    
        <!-- about section ends  -->
        <!-- menu section start here -->
    
        <section class="menu" id="menu">
            <h1 class="heading">our <span>menu</span> </h1>
            <div class="box-container">
                <div class="box">
                    <img src="{{ url_for('static', filename='img/UCF101.jpg') }}" alt="">
                    <h3>Human action regconition</h3>
                    <div class="follow">LSTM <span>UCF101</span></div>
                    <a href="#" class="btn">click to explore</a>   
                </div>
    
                <div class="box">
                    <img src="{{ url_for('static', filename='img/HMDB_snapshot1.png') }}" alt="">
                    <h3>Human action regconition</h3>
                    <div class="follow">LSTM <span>HMDB51</span></div>
                    <a href="#" class="btn">click to explore</a>   
                </div>
    
               
    
                
            </div>
        </section>
    
    
        <!-- menu section ends  -->
    
   
    
    
        <!-- review section begin -->
        <section class="review" id="review">
            <h1 class="heading">customer's <span>review</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="quote"><i class="fa-solid fa-quote-left"></i></div>
                    <p>i love them so much , they make me happy and feel so good every day</p>
                    <img src="./image/changg-3-ava-8461.jpg" alt="" class="user">
                    <h3>changg</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
    
                <div class="box">
                    <div class="quote"><i class="fa-solid fa-quote-left"></i></div>
                    <p>i love them so much , they make me happy and feel so good every day</p>
                    <img src="./image/mark-6425-1647682367.jpg" alt="" class="user">
                    <h3>mark</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
    
                <div class="box">
                    <div class="quote"><i class="fa-solid fa-quote-left"></i></div>
                    <p>i love them so much , they make me happy and feel so good every day</p>
                    <img src="./image/download.jpg" alt="" class="user">
                    <h3>ralf</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
    
            </div>
        </section>
    
    
    
    
    
        <!-- review ends  -->
    
    
    
        <!-- contact begin  -->
    
        <section class="contact" id="contact">
    
            <h1 class="heading"><span>contact</span> us</h1>
    
            <div class="row">
    
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.4604560063!2d106.41503049255444!3d10.754666395861117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2zSOG7kyBDaMOtIE1pbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1650763023532!5m2!1svi!2s" 
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
    
                <form action="">
                    <h3>get in touch</h3>
                    <div class="inputBox">
                        <span class="fas fa-user"></span>
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="inputBox">
                        <span class="fas fa-envelope"></span>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="inputBox">
                        <span class="fas fa-phone"></span>
                        <input type="number" placeholder="Number">
                    </div>
                    <input type="submit" value="contact now" class="btn">
                </form>
    
            </div>
        </section>
    
    
        <!-- contact ends  -->
    
    
    
        <!-- blogs ends -->
    
        <!-- footer section  -->
        <footer class="footer">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-twitter"></a>
            </div>
            <div class="links">
                <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#menu">Menu</a>
            <a href="#products">Products</a>
            <a href="#review">Review</a>
            <a href="#contact">Contact</a>
            <a href="#blogs">Blogs</a>
            </div>
            <div class="credit">created by <span>buithanhdam02</span> | all rights reserve</div>
        </footer>
    
    
    
    
    
        <script src="script.js"></script>
    </body>
</html>